
<div class="slim-description">
    <p>
        This place is all about my thoughts, obsessions and mostly rants.
        Some of these posts got promoted to
        <a
            href="https://dev.to/mrprofessor"
            target="_blank"
            rel="noreferrer"
        >
            dev community</a>.
        You can reach out to me on
        <a
            target="_blank"
            rel="noreferrer"
            href="https://github.com/mrprofessor"
        >
            github</a>,
        <a
            target="_blank"
            rel="noreferrer"
            href="https://twitter.com/weary_beard"
        >
            twitter</a>
        and
        <a
            target="_blank"
            rel="noreferrer"
            href="https://linkedin.com/in/mrprofessor"
        >
            linkedin
        </a> if you are into that kinda stuff.
    </p>

</div>
