// Font family
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;

}
h1, h2, h3, h4 {
    // font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
}


code[class*="language-"], nav, .blog-list {
    // font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 1.025rem;
}
code {
    // font-family: 'IBM Plex Mono', monospace;
}

tags {
    // font-family: 'IBM Plex Mono', monospace;
}

article h1 {
    // font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}


.slim-description {
    // font-family: 'IBM Plex Mono', monospace;
}
