// Variables
$global-font-size: 18px;
$global-font-size-mobile: 16px;
$title-font-size: 1.875rem;

$content-title-font-size: 1.275rem;
$layout-max-width: 48rem;
$nav-font-size: 1.025rem;

$primary-color: #333;
$subscript-color: #666;
$background-color: #fefefe;
$blockquote-background-color: #f9f9f9;

$border-color: #e6e6e6;
$post-title-color: $primary-color;
$post-link-color: #f93a3a;
$active-link-color: red;

$toc-border: #f93a3a;
$toc-background: #fefdf6;

$horizontal-layout-padding: 1.3125rem;
$vertical-layout-padding: 2.625rem;
