// Variables
$global-font-size: 16px;
$global-font-size-mobile: 16px;
$large-display-font-size: 18px;
$title-font-size: 2.125rem;
$blog-header-font-size: 1.5rem;

$global-line-height: 1.5rem;
$large-display-line-height: 1.8rem;

$content-title-font-size: 1.275rem;
$layout-max-width: 54rem;
$nav-font-size: 1.25rem;

$primary-color: #333;
// $primary-color: #000;
$subscript-color: #666;
$background-color: fefefe;
// $background-color: #F5F5F0;
$blockquote-background-color: #f9f9f9;

$border-color: #e6e6e6;
$link-color: #f93a3a;
$post-title-color: $primary-color;
$post-link-color: $link-color;
$active-link-color: red;

$toc-border: #f93a3a;
$toc-background: #fefdf6;

$code-background: $blockquote-background-color;
$code-color: darkyellow;

$horizontal-layout-padding: 1.3125rem;
$vertical-layout-padding: 2.625rem;
